ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.mg-right-10{
    margin-right: 10px;
}
body {
    display: flex;
    justify-content: center;
    margin: 0;
}
img{
    width: 100%;
    height: auto;
}
.rectangle {
    background: #f5f5f7;
    border-radius: 14px;
}
.btn {
    background: #000000;
    border-radius: 14px;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
}
.header-line {
    font-size: 24px;
    line-height: 38px;
    font-family: Baloo Bhai;
}
.quote {
    font-family: Roboto;
    font-size: 14px;
    line-height: 15px;
}
main {
    width: 100%;
    height: auto;
}
.layout {
    display: grid;
    grid-template-columns: 10% 90%;
    margin: 40px 30px 30px 30px;
}

.menu .rectangle {
    width: auto;
    background: #000000;
    border-radius: 24px;
    position: relative;
}
.icon-menu {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.first-icon {
    margin-top: 40px;
    width: 47px;
    height: 102px;
}
.icon {
    width: 100%;
    text-align: center;
    margin-top: 64.3px;
}
.icon img {
    width: 26px;
    height: 26px;
}
.last-icon {
    text-align: center;
}
.last-icon img {
    width: 26.1px;
    height: 26.1px;
    margin-top: 170px;
}
.icon-menu img {
    margin: auto;
}
.main-content {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    margin-left: 0 !important;
}
.main-component {
    width: 100%;
}

/* =========================================================== */

.hello-card {
    width: 100%;
    height: 191px;
}
.hello-card .rectangle {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.hello-card .rectangle .content-card {
    margin: 10px;
}
.hello-card .image-card {
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 175px;
    height: 191px;
}
.hello-card .image-card img {
    width: 100%;
    height: auto;
}
.spanish-card {
    display: flex;
    justify-content: space-between;
}
.spanish-card .country {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.spanish-card .name {
    font-family: Baloo Bhai;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    margin: 0;
}
.spanish-card .quote {
    font-family: Roboto;
    font-size: 13px;
    line-height: 15px;
    margin: 0;
}
.spanish-card .circle {
    border: 2px solid #000000;
    border-radius: 50%;
    position: relative;
}
.spanish-card .circle span {
    font-family: Roboto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.spanish-card .action-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    position: relative;
    top: auto;
    left: auto;
}
.spanish-card .image-card {
    border-radius: 12px;
    background: #ffffff;
    position: relative;
}
.image-card img {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.action-card button img {
    width: 40px;
    height: 40px;
}
.action-card button {
    padding: 0;
    border: none;
    background: none;
}
.action-card button:active {
    background: red;
    border-radius: 20px;
}
.action-card .get-back {
    width: 40px;
    height: 40px;
    margin: 5px;
}
.action-card .get-next {
    width: 40px;
    height: 40px;
}

.courses-card .menu-card ul {
    display: flex;
    justify-content: flex-start;
    font-family: Baloo Bhai;
}
.menu-card li {
    margin-right: 10px;
}
.courses-infor {
    margin-top: 10px;
    width: 100%;
}
.courses-infor .course {
    display: flex;
    justify-content: space-between;
    background: #f5f5f7;
    align-items: center;
    padding: 10px;
}
.course .image-card {
    width: 64px;
    height: 64px;
    border-radius: 12px;
    background: #ffffff;
    position: relative;
}
.course.image-card img {
    width: 32px;
    height: 32px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* ====================================================================== */
.head-info {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
}
.head-search {
    position: relative;
    width: 100%;
}
.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
input {
    border-radius: 4px;
    margin: 0;
    color: #000000;
    padding-left: 10px;
}
.info-card {
    display: flex;
    justify-content: flex-end;
    width: auto;
}
.notifi {
    width: 100%;
    margin-right: 10px;
}
.profile {
    width: 100%;
}
.courses-card {
    width: 100%;
    flex-direction: column;
}
.course-infor {
    width: 100%;
    background: #f5f5f7;
    display: flex;
    justify-content: center;
}
.course-infor .content {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.number-courses {
    font-family: Baloo Bhai;
    margin: 0;
}
.status-course {
    text-align: center;
}
.infor-card .content {
    display: flex;
    justify-content: space-between;
}
.infor-card .detail {
    display: flex;
    justify-content: flex-start;
}
.statis-image img {
    width: 100%;
    height: auto;
}
.lern-more {
    width: 100%;
    height: auto;
}
.lern-more .rectangle {
    flex-direction: column;
    background: #f5f5f7;
}
.lern-more .image-card {
    position: relative;
    /* background: #f5f5f7; */
}
.lern-more .image-card img {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mg-right-20 {
    margin-right: 20px;
}
.opacity-03 {
    opacity: 0.3;
}
.quote{
    color: #000000;
}

/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {
    .menu .rectangle {
        height: 853.12px;
    }
    .content .icon-menu .first-icon {
        margin-top: 40px;
        width: 47px;
        height: 102px;
    }
    .content .icon-menu .icon {
        width: 100%;
        text-align: center;
        margin-top: 64.3px;
    }
    .content .icon-menu .icon img {
        width: 26px;
        height: 26px;
    }
    .content .icon-menu .last-icon {
        text-align: center;
    }
    .content .icon-menu .last-icon img {
        width: 26.1px;
        height: 26.1px;
        margin-top: 170px;
    }
    /* =========================================================== */
    .main-component{
        width: auto;
        margin: 0 30px;
    }
    .hello-card .header-line{
        font-size: 20px;
    }
    .spanish-card .rectangle {
        width: 100%;
        height: 80px;
    }
    .spanish-card .image-card{
        width: 64px;
        height: 64px;
    }
    .image-card img {
        width: 32px;
        height: 32px;
    }
    .percent-card .circle {
        width: 25px;
        height: 25px;
    }
    .percent-card .circle span {
        font-size: 13px;
    }
    .action-card button img {
        width: 30px;
        height: 30px;
    }

    .action-card .get-back {
        width: 30px;
        height: 30px;
    }
    .action-card .get-next {
        width: 30px;
        height: 30px;
    }
    .header-line {
        font-size: 24px;
        line-height: 38px;
    }
    .courses-card .menu-card ul {
        font-size: 13px;
    }
    .menu-card li {
        margin-right: 10px;
    }
    .courses-infor .course {
        margin-top: 10px;
        height: 80px;
    }

    .header-line {
        font-size: 14px;
        line-height: 26px;
    }
    .quote {
        font-size: 12px;
        line-height: 15px;
    }
    .time-card img {
        width: 16px;
        height: 16px;
    }
    .time-card span {
        font-size: 12px;
    }
    .rating {
        font-size: 13px;
    }
    .rating img {
        width: 16px;
        height: 16px;
    }
    .btn {
        border-radius: 8px;
        color: #ffffff;
        font-size: 12px;
    }
    /* ============================================================== */
    .head-info {
        height: 30px;
    }
     .head-search {
        height: 30px;
    }
    .search-icon {
        left: 3px;
    }
    input {
        width: 80%;
        height: 30px;
        border-radius: 4px;
    }
    .notifi {
        width: auto;
        height: 36px;
        margin-right: 10px;
    }
    .profile {
        width: auto;
        height: 40px;
    }
    .courses-card {
        margin-top: 10px;
        width: 100%;
    }
    .course-infor {
        width: 100%;
        height: 96px;
        margin-top: 10px;
    }
    .course-infor .content {
        width: 60%;
        height: 100%;
    }
    .number-courses {
        font-size: 64px;
        margin: 0;
    }
    .status-course {
        font-size: 16px;
    }
    .heading {
        font-size: 24px;
    }
    .infor-card ul {
        font-size: 14px;
    }
    .statis-image{
        margin-top: 15px;
    }
    .lern-more {
        width: 100%;
    }
    .lern-more .rectangle {
        height: auto;
        margin-top: 20px;
        padding: 0;
    }
    .lern-more .content {
        padding: 10px;
    }
    .lern-more .header-line {
        font-size: 24px;
    }
    .lern-more .image-card {
        width: 100%;
        height: 150px;
        padding-bottom: 20px;
    }
}
/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px) {
    .header-line{
        font-size: 18px;
    }
    .quote{
        font-size: 14px;
    }
    .main-component{
        margin: 0 40px;
    }
    .hello-card .header-line{
        font-size: 36px;
    }
    .hello-card .quote{
        font-size: 20px;
    }
    .name-course{
        width: 200px;
    }
    .content .lern-more {
        width: 100%;
    }
    input{
        width: 90%;
    }
    .content.courses-card{
        display: flex;
        justify-content: space-between;
        flex-direction: initial;
    }
    .lern-more .rectangle {
        margin-top: 40px;
        width: 100% !important;
        height: auto;
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 0;
    }
    .lern-more .content {
        width: 100%;
        padding: 10px;
    }
    .lern-more .content .header-line {
        font-size: 24px;
        font-family: Baloo Bhai;
    }
    .lern-more .image-card {
        width: 100%;
        position: relative;
    }
    .lern-more .image-card img {
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .mg-right-20 {
        margin-right: 20px;
    }
    .opacity-03 {
        opacity: 0.3;
    }
    .lern-more .content .quote {
        font-size: 16px;
        font-family: Roboto;
    }
}
